<!DOCTYPE html>
<html>
	<head>
		<title>raC looP</title>
		<meta property="fb:app_id" content="<%= Facebook.config[:client_id] %>">		
		
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places,geometry&sensor=false"></script>
                   
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		
	
	</head>
	<body>
		
		<div id="fb-root"></div>
		<div class="container canvas">
			<div class="content">
				<%= yield %>				
			</div>
			<%= render 'layouts/facebook' %>
			<%= render 'layouts/footer' %>
		</div>
		<!-- /container -->
	</body>
</html>
